<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some web site</title>
    </head>
    <body>
          {{> header }}

        <p> {{screamIt welcomeMsg}}</p>
        <p><a href="/{{link}}">about</a></p>

         {{> footer}}
    </body>
</html>